@import url('normalize.css');
@import url('variables.css');


body {
    background-color: var(--color-7);
}

h1,
h2,
h3 {
    font-family: var(--font-3);
    color: white;
}

p,
a,
span {
    font-family: var(--font-4);
}


.nav {
    background-color: var(--color-1);
    height: 80px;
    color: #fff;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 900;
}

.nav__label,
.nav__input {
    display: none;
}

.nav__label {
    display: block;
    cursor: pointer;
}

.nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: var(--color-4);
    width: 100vw;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 1s ease-in-out;
}

.nav__input:checked+.nav__menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__item {
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .2s;
}

.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.home {
    height: 100vh;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home span {
    background-color: var(--color-4);
    align-self: flex-start;
    padding: 7px 10px;
    border-radius: 20px;

}

.home span:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
}

h2 {
    font-size: 1rem;
}

.home a {
    color: var(--color-4);
    border: 1px solid var(--color-4);
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 300;
}

.home a:hover {
    border-color: white;
    color: white;
}

.tecnologias_container {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
}

.tecnologias_container span {
    background-color: var(--color-2);
    padding: 7px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.603);
}

.tecnologias img {
    filter: invert(100%);
}

.tecnologias_container span:nth-child(odd):hover {
    transform: rotate(7deg);
    transition: transform 0.3s ease;
}

.tecnologias_container span:nth-child(even):hover {
    transform: rotate(-7deg);
    transition: transform 0.3s ease;
}

.trabajos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: auto;
    list-style: none;
}

.trabajos__item {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.603);
}

.trabajos__img:hover {
    transform: scale(1.15);
    transition: transform 0.5s ease;
}

.trabajos__img_cont:hover {
    overflow: hidden;
}

.card {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img {
    width: 200px;
    height: 200px;
}

.card__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid var(--color-4);
}


@media (min-width: 576px) {
    .nav__container {
        justify-content: space-evenly;
        align-items: center;
    }

    .nav__menu {
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        clip-path: none;
        background-color: var(--color-1);
        gap: 10px;
    }

    .nav__img {
        display: none;
    }

}