@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,500;1,100;1,200;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif; */

:root {
    --color-1: #4e3b6b;
    --color-2: #6711e8;
    --color-3: #7c2ff0;
    --color-4: #c2b8d1;
    --color-5: #9a8ab2;
    --color-6: #735f91;
    --color-7: #36323d;

    --font-1: "eurostile", sans-serif;
    --font-2: "europa", sans-serif;
    --font-3: 'Barlow Condensed', sans-serif;
    --font-4: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-7);
}
h1,
h2,
h3 {
    font-family: var(--font-3);
    color: white;
}

p,
a,
span {
    font-family: var(--font-4);
}


.nav {
    background-color: var(--color-1);
    height: 80px;
    color: #fff;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 900;
}
.nav__label, .nav__input {
    display: none;
}

.nav__label {
    display: block;
    cursor: pointer;
}

.nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: var(--color-4);
    width: 100vw;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 1s ease-in-out;
}

.nav__input:checked+.nav__menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__item {
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .2s;
}

.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.home{
    height: 100vh;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}
.home span{
    background-color: var(--color-4);
    align-self: flex-start;
    padding: 7px 10px;
    border-radius: 20px;

}

.home span:hover {
    transform: scale(1.1); 
    transition: transform 0.4s ease; 
  }
h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: capitalize;
}
h2{
    font-size: 1rem;
    font-weight: 200;
}

.home a{
    color: var(--color-4);
    border: 1px solid var(--color-4) ;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 300;
    
}
.home a:hover{
    border-color: white;
    color: white;
}
.tecnologias{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
}
.tecnologias span{
    background-color: var(--color-2);
    padding: 7px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.603);

}


.tecnologias span:hover{
    transform: rotate(7deg); 
    transition: transform 0.3s ease; 

}
.trabajos__container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: auto;
    list-style: none;

}
.trabajos__item{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.603);
}

.trabajos__img{
    display: block;
    /* object-fit: cover; */
    width: 100%;
    /* height: 100%; */
}

.trabajos__img:hover{ 
    transform: scale(1.15);
    transition: transform 0.3s ease; 
}
.trabajos__img_cont:hover{
    overflow: hidden;

}


@media (min-width: 576px) {
    .nav__container {
        justify-content: space-evenly;
        align-items: center;
    }

    .nav__menu {
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        clip-path: none;
        background-color: var(--color-1);
        gap: 10px;
    }

    .nav__img {
        display: none;
    }

}